<div class="row" *ngFor="let todayStatus of dailyStatus | async">
        <div colspan="6" style="text-align: center">
            <h5>Status of Date : ({{todayStatus.StatusDate }})</h5>
        </div>

<table style="margin: 10px" id="myTable" data-toggle="table" class="table table-bordered table-hover table-striped table condensed table-responsive" >
    <thead>
        <tr>
            <th data-field="emp-name" data-sortable="true">Employee Name</th>
            <th data-field="proj-name" data-sortable="true">Project Name</th>
            <td>Work Item number</td>
            <td>Description</td>
            <td>Blockers \ Action</td>
            <td>Learnings</td>
        </tr>
    </thead>
    <tbody *ngFor="let update of todayStatus.PersonalDetails">
        <tr>
            <td>
                {{update.Name }}
            </td>
            <td colspan="5">
                &nbsp;
            </td>
        </tr>
        <tr *ngFor="let status of update.Status">
            <td>
                &nbsp;
            </td>
            <td>
                {{status.ProjectName}}
            </td>
            <td>
                {{status.WorkItem}}
            </td>
            <td>
                {{status.Description}}
            </td>
            <td>
                {{status.BlockerAction}}
            </td>
            <td>
                {{status.Learnings}}
            </td>
        </tr>
    </tbody>
</table>
</div>
<div *ngIf="(dailyStatus | async)?.length==0">No records found.</div>