<div *ngIf="showDates" class="row">
    <div class="row" style="margin:10px">
        <div class="col-md-4">
            <h4>Please select Custom date
            </h4>
        </div>
        <div class="col-md-4">
             <input type="date" class="form-control" [(ngModel)]="customDate" name=" " placeholder="Enter work item number "> 
            <!-- <material-datepicker [(date)]="yourModelDate"></material-datepicker> -->
            <!-- <md-input-container>
                <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker> -->
        </div>
        <div class="col-md-4 ">
            <button class="btn btn-default" [routerLink]="[ '/archives/' + customDate] " (click)="showDates= false ">Get Status</button>
        </div>
    </div>
    <div class="row " style="margin:10px ">
        <div class="col-md-4 ">
            <h4>Status of last 10 days</h4>
        </div>
        <div class="col-md-8 ">
            <span *ngFor="let status of allStatus | async ">
                 <a [routerLink]="[ '/archives/' + status.StatusDate.replace( '/', '-').replace( '/', '-')] " (click)="showDates= false ">{{status.StatusDate}}</a>
            </span>
        </div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
    <a [routerLink]="[ '/archives'] " (click)="showDates= true " *ngIf="!showDates ">back</a>
</div>