<div class="row">
    <div class="col-md-11">
        <h2>Hi {{currentUser.Name}}!</h2>
        <br>
        <ul class="nav nav-tabs">
            <li *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
                <a [routerLink]="[tab.link]">{{tab.title}}</a>
            </li>
        </ul>
        <div class="pane">
            <router-outlet></router-outlet>
        </div>

    </div>
    <div class="col-md-1">
        <p><a [href]="['/login']">Logout</a></p>
    </div>
</div>