<div class="row">
    <div class="col-md-10">
        <h2>Hi {{currentUser.Name}}!</h2>
        <p>{{currentUser.EmpId}}</p>
        <br>
        <ul class="nav nav-tabs">
            <li *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
                <a [routerLink]="[tab.link]">{{tab.title}}</a>
            </li>
        </ul>
        <div class="pane">
            <router-outlet></router-outlet>
        </div>

    </div>
    <div class="col-md-1">
        <a [href]="['/login']" class="btn btn-default btn-sm" type="button">
        <!--div id="logout"--><span class="glyphicon glyphicon-log-out"></span><!--/div-->
        </a>
     </div>
     
     <div class="dropdown" id="dropdown" dropdown>
            <button dropdownToggle class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" ng-style="height:20%">
               <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span></button>
                <ul dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Settings</a></li>
                </ul>
        </div>
        
</div>